<nav [ngClass]="{ 'mobile': _sidebarService.mobile(), 'show-sidebar': _sidebarService.showSidebar() }">
  <div class="logo">
    <img src="./assets/images/logo.png" alt="logo">
    <div *ngIf="_sidebarService.mobile()" matRipple (click)="toggleShowSidebar()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>

  <mat-divider></mat-divider>

  <ul class="components">
    <li *ngFor="let item of menuItem; let i = index" routerLinkActive="active" [routerLink]="item.route">
      <a (click)="toggleSubmenu(i)">
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
        <i *ngIf="item.children?.length"
           class="fa"
           [ngClass]="{'fa-chevron-down': !submenuVisible[i], 'fa-chevron-up': submenuVisible[i]}"></i>
      </a>

      <!-- Submenu -->
      <ul *ngIf="submenuVisible[i] && item.children?.length">
        <li *ngFor="let subItem of item.children" routerLinkActive="active">
          <a [routerLink]="subItem.route">
            <i [class]="subItem.icon"></i> <!-- Ícone do subitem -->
            <span>{{ subItem.label }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
