<div class="container-search">
  <div class="container-filter">
    <app-card-tender-filter (onSearch)="onSubmit($event)"></app-card-tender-filter>
  </div>
  <div class="container-cards">
    <div class="cards-container">
      
      <div class="w-100" *ngFor="let tender of tendersCards; let i = index">
        <app-card-tender [tender]="tender"></app-card-tender>
      </div>
      <p *ngIf="isLoading">Carregando...</p>
    </div>
    <div style="padding: 0 1rem; background: white; border-radius: 0.5rem">
      <mat-paginator [length]="pageControl.itemCount" [pageIndex]="pageControl.page" [pageSizeOptions]="[10, 25, 50, 100]"
                     [pageSize]="pageControl.take" (page)="pageEvent($event)"></mat-paginator>
    </div>
  </div>
</div>
