<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">Filtrar Contratos</span>
    <div matRipple class="close" (click)="closeDialog()">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="filterForm" class="row">

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Pesquisar</p>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="search_term" placeholder="Busca rapida">
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Editais</p>
      <mat-form-field>
        <mat-select formControlName="tender_id" placeholder="Editais">
          <mat-option>
            <ngx-mat-select-search
              [formControl]="search_term_client"
              placeholderLabel="Pesquise um edital..."
              (ngModelChange)="onSearchTenderTermChangeDebounced($event)">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let tender of tenders" [value]="tender.id">
            {{ tender.number }} | {{ tender.organ }} | {{ tender.status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Data de Início e Término</p>
      <mat-form-field appearance="outline">
        <mat-date-range-input [formGroup]="filterForm" [rangePicker]="picker">
          <input matStartDate formControlName="start_date" placeholder="Data Início">
          <input matEndDate formControlName="end_date" placeholder="Data Término">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Status</p>
      <mat-form-field appearance="outline">
        <mat-select formControlName="status" placeholder="Status do contrato">
          <mat-option *ngFor="let status of statusOptions" [value]="status">
            {{ status | translateContractStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Responsável</p>
      <mat-form-field>
        <mat-select formControlName="client_id" placeholder="Responsável">
          <mat-option>
            <ngx-mat-select-search
              [formControl]="search_term_client"
              placeholderLabel="Pesquise um responsável..."
              (ngModelChange)="onSearchClientTermChangeDebounced($event)">
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let client of clients" [value]="client.id">
            {{ client.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="clearFilters()">Limpar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="applyFilters()">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>

