<div class="table-container">
  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for (col of columns; track col) {
        <th [class.hasorder]="col.order" [ngStyle]="{ cursor: 'pointer' }"
          [class.active-order]="pageControl.orderField === col.slug">
          <!--(click)="onClickOrderBy(col.slug, col.order)" -->
          <div class="{{col.align}}">
            <!-- style="color: #a2a1a8" -->
            {{ col.title }}
            <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
              {{
              pageControl.order === "DESC" ? "arrow_downward" : "arrow_upward"
              }}
            </i>
          </div>
        </th>
        }
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td [attr.colspan]="columns.length + 1">
            <div id="mat-loading">
              <mat-spinner></mat-spinner>
            </div>
          </td>
        </tr>
        @if (!loading) {
        <tr *ngIf="!products.length">
          <td [attr.colspan]="columns.length + 1" class="text-center">
            <div>Nenhum resultado encontrado</div>
          </td>
        </tr>
        @for (product of products; track product) {
        <tr class="table-line-hover" style="outline: none;">
          <td>
            <div class="d-flex align-items-center ml-2" style="white-space: nowrap">
              {{ product?.sku }}
            </div>
          </td><td>
            <div class="d-flex align-items-center ml-2" style="white-space: nowrap">
              {{ product?.name }}
            </div>
          </td><td>
            <div class="d-flex align-items-center ml-2" style="white-space: nowrap">
              {{ product?.brand }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ product?.purchase_cost | currencyFormat}}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{product?.taxes_fees | currencyFormat }}
            </div>
          </td> <td>
            <div class="text-center">
              {{product?.freight | currencyFormat }}
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ product?.profit_margin }}
            </div>
          </td><td>
            <div class="text-center">
              {{ product?.total_cost | currencyFormat }}
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">

              <div matRipple class="buttonTemplate" matTooltip="Abrir historico" (click)="openHistoricalProductClick.emit(product?.id)">
                <i class="fa-solid fa-clock-rotate-left"></i>
              </div>

              <div matRipple class="buttonTemplate" matTooltip="Ver/Edtar" (click)="onProductClick.emit(product)">
                <i class="fa-solid fa-pen-to-square"></i>
              </div>

              <div matRipple class="buttonTemplate" matTooltip="Excluir" (click)="onDeleteProductClick.emit(product?.id)">
                <i class="fa-solid fa-trash"></i>
              </div>
            </div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="pageControl.itemCount" [pageIndex]="pageControl.page" [pageSizeOptions]="[10, 25, 50, 100]"
    [pageSize]="pageControl.take" (page)="pageEvent($event)"></mat-paginator>
</div>
