<div class="table-container">

  <div class="overflow-auto">
    <table class="table table-responsive">
      <thead>
        @for (col of columns; track col) {
          <th
            [class.hasorder]="col.order"
            [class.active-order]="pageControl.orderField === col.slug"
          >
            <!--(click)="onClickOrderBy(col.slug, col.order)" -->
            <div
              class="{{col.align}}"
            >
              <!-- style="color: #a2a1a8" -->
              {{ col.title }}

            </div>
          </th>
        }
      </thead>
      <tbody>
      <tr *ngIf="loading">
        <td [attr.colspan]="columns.length + 1">
          <div id="mat-loading">
            <mat-spinner></mat-spinner>
          </div>
        </td>
      </tr>
        @if (!loading) {
          <tr *ngIf="!logs?.length">
            <td [attr.colspan]="columns.length + 1" class="text-center">
              <div>Nenhum resultado encontrado</div>
            </td>
          </tr>
          @for (log of logs; track log) {
            <tr
              class="table-line-hover"
              style="outline: none;"
            >
              <td>
                <div class="text-center">
                  {{ log?.id }}
                </div>
              </td>
              <td>
                <div
                  class="d-flex align-items-center gap-2 justify-content-center text-center w-100 h-100"
                  style="white-space: nowrap"
                >
                  <app-avatar
                    [imageUrl]="log?.user?.photo"
                    [altText]="log?.user?.name"
                    [color]="'#e7b403'"
                    [onCircle]="true"
                    [size]="30"
                  ></app-avatar>
                  {{ log?.user?.name }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ log?.description }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ log?.created_at | date: "dd/MM/yyyy HH:mm:ss" }}
                </div>
              </td>
              <!-- <td>
                <div class="d-flex justify-content-center">
                  <div matRipple class="buttonTemplate" matTooltip="Detalhes" (click)="onLogClick.emit(log)">
                    <i class="fa-solid fa-circle-info"></i>
                  </div>
                </div>
              </td> -->
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="pageControl.itemCount" [pageIndex]="pageControl.page" [pageSizeOptions]="[10, 25, 50, 100]"
                 [pageSize]="pageControl.take" (page)="pageEvent($event)"></mat-paginator>
</div>
