<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5"> Nova Notificação</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>

  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">
    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Descrição</span>
      <mat-form-field appearance="outline">
        <input matInput formControlName="description" placeholder="Descrição" required/>
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Mensagem</span>
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput formControlName="message" placeholder="Digite a mensagem" required></textarea>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Data e Hora</span>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="datetime"
          required
          [value]="form.get('datetime').value | datetime"
          placeholder="DD/MM/YYYY HH:MM:SS"
        />
        <mat-error *ngIf="form.get('datetime').invalid && form.get('datetime').touched">
          Data e hora inválidas. Use o formato DD/MM/YYYY HH:MM:SS.
        </mat-error>
      </mat-form-field>
    </div>



    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Número do Edital</span>
      <div class="d-flex align-items-center gap-3">
        <mat-form-field appearance="outline">
          <mat-select formControlName="tender_id" placeholder="Edital">
            <mat-option *ngFor="let tender of tenderes" [value]="tender.id">
              {{ tender.number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="onSubmit(form)">{{isNewNotification ? 'Criar' :
            'Salvar'}}</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
