<!-- <div class="row mt-4">
  @for (item of itemsRequests; track item) {
    <div class="col-md-4 col-12">
      <app-small-information-card [data]="item"></app-small-information-card>
    </div>
  }
</div> -->

<div id="componentHeaderTemplate" class="mt-5 d-flex justify-content-end">
  <div id="componentHeader">

    <div id="options">

      <div id="filter" matRipple (click)="openClientFilterDialog()">
        <i class="fa-solid fa-filter" matTooltip="Filtros"></i>
      </div>

      <button matRipple class="button yellow" (click)="openDialogClient()">
        <i class="fa-solid fa-plus"></i> Novo Cliente
      </button>

    </div>
  </div>
</div>

<div id="componentTable" class="col-12 mt-4">
  <app-table-client
    [loading]="loading"
    [filters]="filters"
    (openOcurrenceDialog)="openOcurrenceDialog($event)"
    (onClientClick)="openDialogClient($event)"
    (onDeleteClientClick)="onDeleteCollaborator($event)">
  </app-table-client>
</div>
