<mat-tab-group>



  <mat-tab label="Tabela">
    <div id="componentHeaderTemplate">
      <div id="componentHeader">

        <div>
          <!-- <app-search-input
            (onSearchInputChanged)="handleSearchTerm($event)">
          </app-search-input> -->
        </div>

        <div id="options">
          @if (true) {
            <div id="filter" matRipple (click)="openTenderFilterDialog()">
              <i class="fa-solid fa-filter"></i>
            </div>
          }

          <div id="buttons">
            <button matRipple class="button yellow" (click)="openTenderDialog()">
              <i class="fa-solid fa-plus"></i> Novo Edital
            </button>
          </div>

        </div>
      </div>
    </div>

    <div id="componentTable" class="col-12 mt-4">
      <app-table-tender [loading]="loading">
      </app-table-tender>
    </div>
  </mat-tab>

  <mat-tab label="Kanban">
    <app-tender-kanban></app-tender-kanban>
  </mat-tab>

  <mat-tab label="Tarefas">
    <app-tender-task></app-tender-task>
  </mat-tab>

</mat-tab-group>

