<!--<mat-tab-group (selectedIndexChange)="this.loading = !this.loading">

  <mat-tab label="Tabela">

  </mat-tab>

</mat-tab-group>-->

<div class="w-100 h-100">
  <div id="componentHeaderTemplate" class="d-flex justify-content-end mt-2">
    <div id="componentHeader">

      <div id="options">
        <div id="indicator">
          <span class="label">Valor total:</span>{{ totalValue | currency:'BRL' }}
        </div>

        @if (true) {
          <div id="filter" matRipple>
            <i class="fa-solid fa-filter" matTooltip="Filtros" (click)="openContractFilterDialog()"></i>
          </div>
        }

        <button matRipple class="button yellow" (click)="openDialogContract()">
          <i class="fa-solid fa-plus"></i> Novo Contrato
        </button>

      </div>
    </div>
  </div>

  <div id="componentTable" class="col-12 mt-4">
    <app-table-contracts
      [loading]="loading"
      [filters]="filters"
      (totalValue)="changeTotalValue($event)"
      (onDeletecontractClick)="deleteContract($event)"
      (onEditContractClick)="openDialogContract($event)"
    >

    </app-table-contracts>
  </div>
</div>
