.json-container {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  max-height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mat-dialog-content {
  padding: 10px;
}
