<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">Filtrar Pedidos</span>
    <div matRipple class="close" (click)="onCancel(false)">
      <i class="fa-solid fa-close"></i>
    </div>
  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">

    <div class="col-12 mb-3">
      <p class="fw-bold fs-6 mb-2">Buscar</p>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="search_term" matInput placeholder="Buscar"  />
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <span class="fw-bolder">Flag</span>
      <div class="d-flex align-items-center gap-3">
        <mat-form-field appearance="outline">
          <mat-select formControlName="flag" placeholder="Flag">
            <mat-option *ngFor="let flag of flags" [value]="flag">
              {{ flag }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 mb-3">
      <span class="fw-bolder">Responsável Interno</span>
      <div class="d-flex align-items-center gap-3">
        <mat-form-field appearance="outline">
          <mat-select formControlName="user_id" placeholder="Responsável Interno">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel(true)">Limpar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="onConfirm()">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
