<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ title }}</span>
    <div matRipple class="close" (click)="onCancel()">
      <i class="fa-solid fa-close"></i>
    </div>

  </div>

  <mat-divider class="my-3"></mat-divider>

  <form [formGroup]="form" class="row">
    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Número do Edital</span>
      <mat-form-field appearance="outline">
        <input matInput formControlName="number"  autocomplete="off"/>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Órgão Emitente</span>
      <mat-form-field appearance="outline">
        <input matInput formControlName="organ" placeholder="Órgão emitente" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Modalidade</span>
      <div class="d-flex align-items-center gap-3">
        <mat-form-field appearance="outline">
          <mat-select formControlName="modality_id" placeholder="Modalidade">
            <mat-option *ngFor="let modality of modalities" [value]="modality.id">
              {{ modality.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Data do Certame</span>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="pickerCertame" formControlName="contest_date" placeholder="DD/MM/YYYY"
          readonly />
        <mat-datepicker-toggle matSuffix [for]="pickerCertame"></mat-datepicker-toggle>
        <mat-datepicker #pickerCertame></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-12 mb-3">
      <span class="fw-bolder">Objeto do Edital</span>
      <mat-form-field appearance="outline">
        <textarea matInput formControlName="object" placeholder="Objeto do edital" rows="3"></textarea>
      </mat-form-field>
    </div>

    <div class="col-12" formArrayName="items">
      <span class="fw-bolder">Itens</span>
      @for(item of items.controls; track item) {
        <div class="d-flex flex-row gap-4 mb-2" [formGroupName]="$index">
          <div class="d-flex flex-md-row flex-column gap-2 w-75 ">
            <div class=" col-md-4 col-12">
              <mat-form-field appearance="outline">
                <input matInput type="text" formControlName="item" placeholder="Nome">
              </mat-form-field>
            </div>
            <div class=" col-md-4 col-12">
              <mat-form-field appearance="outline">
                <input type="text" formControlName="quantity" matInput placeholder="Quantidade" mask="0*" />
              </mat-form-field>
            </div>
            <div class=" col-md-4 col-12">
              <mat-form-field appearance="outline">
                <input type="text" formControlName="unit_value" matInput placeholder="R$ 0,00" currencyMask />
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex align-items-center">
            @if(true) {
              <button class="mt-1" color="warn" *ngIf="true " mat-icon-button (click)="onDeleteItem($index)">
                <i class="fa-solid fa-trash"></i>
              </button>
            }
          </div>
        </div>
      }
      <div class="col-auto my-2">
        <div matRipple id="addItem">
          <button color="primary" *ngIf="true" (click)="pushItem()">
            Adicionar item <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Valor Total</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="estimated_value" matInput currencyMask placeholder="R$ 0,00" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Quantidade de Itens</span>
      <mat-form-field appearance="outline">
        <input type="text" formControlName="items_count" matInput mask="0*" [allowNegativeNumbers]="false" placeholder="0" />
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Status</span>
      <mat-form-field appearance="outline">
        <mat-select formControlName="status" placeholder="Status">
          @for (status of Status; track status) {
            <mat-option [value]="status">{{ status | statusLicitaWeb }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6 mb-3">
      <span class="fw-bolder">Responsável Interno</span>
      <div class="d-flex align-items-center gap-3">
        <mat-form-field appearance="outline">
          <mat-select formControlName="user_id" placeholder="Responsável Interno">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="" >
      <span class="fw-bolder">Anexos</span>
      <div id="files">
        @for(img of filesFromBack; track img) {
          <div class="file" matTooltip="{{img.name}}" (click)="openImgInAnotherTab(img.path)">
            <div class="delete">
              <i class="fa-solid fa-close" (click)="prepareFileToRemoveFromBack(img.id, $index);"></i>
            </div>
              <img [src]="img.path" alt="{{img.name}}" style="max-width: 100%; max-height: 100%;" />
          </div>
        }

        @for(img of filesToSend; track img) {
          <div class="file" matTooltip="{{img.file.name}}">
            <div class="delete">
              <i class="fa-solid fa-close" (click)="removeFileFromSendToFiles($index);"></i>
            </div>
            @if(img.preview) {
              <img [src]="img.preview" alt="{{img.file.name}}" style="max-width: 100%; max-height: 100%;" />
            }
            @else {
              <i class="fa-solid fa-file"></i>
            }
          </div>
        }
      </div>
      <div matRipple id="inputFileAdd" class="mt-2">
        <div id="text">
          <i class="fa-solid fa-plus"></i>
          <span>Adicionar Arquivo</span>
        </div>
          <input type="file" (change)="onFileSelected($event)" [multiple]="true" title=" " />
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container">
    <div id="actionsDialog" class="flex-sm-row flex-column">
      @if(loading) {
      <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
        <mat-spinner></mat-spinner>
      </div>
      }

      <div id="buttonsDialog" class="flex-sm-row flex-column">
        <div class="col-auto">
          <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
        </div>
        <div class="col-auto">
          <button matRipple id="submit" class="button yellow" (click)="onSubmit(form)">{{isNewTender ? 'Criar' :
            'Salvar'}}</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
